/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: "Times New Roman", Times, serif;
    color: darkcyan;
    padding: 1rem;
}

h2, h3 {
   color: black;
   margin-bottom: 0.5rem;
}

button {
    border-radius: 0.25rem;
    padding: 0.5rem;
}

span.label {
    color: #4a4a4a; 
}

.label, hr {
    margin-bottom: 0.5rem;
}
